body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #F3EBFF;
}

.upper:hover {
    opacity: 0;
}

.downer:hover {
    cursor: pointer;
}

.downer {
    margin-right: 30px;
    margin-left: 30px;
}

.buttons {
    background: #998FC7;
    border-radius: 4px;
    padding: 20px;
}

header {
    text-align: center;
}

button {
    background-color: #D4C2FC;
    border: none;
    color: #28262C;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 20px;
}

.mid {
    padding: 30px;
    margin-left: 390px;
}

img {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.container1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.container2 {
    margin-left: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    padding-top: 10px;
}

.image {
    display: inline-block;
    border: 1.5px solid purple;
    padding: 1rem 1rem; 
    vertical-align: middle;
}

.text {
    font-size: 70px;
    padding-left: 40px;
}

.chrono {
    font-size: 18px;
    margin-right: 100px;
    line-height: 2;
}

.material-icons {
    padding: 10px;
    font-size: 40px;
    width: 40px;
    text-decoration: none;
    margin: 5px 80px;
}

.material-icons:hover {
    opacity: 0.9;
}

.instagram {
    background: #cb2027;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.social {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.author {
    margin-right: 20px;
    margin-left: 20px;
}